version: "3.9"

services:
  # 静态文件服务
  web:
    image: halverneus/static-file-server:latest
    container_name: invoice-web
    environment:
      - FOLDER=/web
    ports:
      - "8890:8080"
    volumes:
      - /vol1/1000/tools/invoice-web/html:/web
    restart: unless-stopped
